:root {
    --dark-blue: #361999;
    --light-blue: #78fff1;
}

body {
    align-items: center;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    display: flex;
    height: 100vh;
    justify-content: center;
}
div {
    
    margin-top: 15px;
}
.login{
    box-shadow: 2px 2px 2px black;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border: 0px solid black;
    width: 200px;
    height: 30px;
    border-radius: 15px;
}
.password{
    box-shadow: 2px 2px 2px black;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border: 0px solid black;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    box-shadow: 20%;
}
button{
    box-shadow: 2px 2px 2px black;
    border-radius: 15px;
    color: white;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border: 0px solid black;
}
form {
    box-shadow: 10px 10px 8px black;
    text-align: center;
    border-radius: 15px;
    width: 280px;
    height: 150px;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
}

::placeholder {
    color: white;
    text-align: center;
}

